@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

h1 {
  margin: 0;
  font-weight: normal;
  color: #fff;
}

header {
  background: #08f;
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

canvas {
  background: #08f;
}

footer {
  background: #eee;
  text-align: center;
  margin-top: 60px;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.editor {
  width: 300px;
  background: #ddd;
}

.about {
  width: 300px;
  background: #ddd;
}